/* align text to the center */
#content {
    text-align: center;
    padding-top: 15%;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
                 0px 2px 2px rgba(0,0,0,0.1),
                 0px 2px 2px rgba(0,0,0,0.1);
}

body {
    background: url(https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2018&q=80);
    
    /* mt: make the image as small as possible while covering the entire width and height of the screen - wont change the aspect ratio */
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: bold;
    font-size: 5em;
    color: black;
}

h3 {
    font-weight: bold;
    font-size: 2em;
    color: black;
}

/* tell html to take 100% of the container - solves the problem of duplicated background image */
html {
    height: 100%;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-brand {
    margin-right: 30px;
}

.nav-link {
    margin-right: 30px;
    margin-left: 30px;
}

/* .nav-link[href = "./posts/about.html"] {
    margin-left: 60px;
} */

.navbar-expand-md .navbar-nav .nav-link {
    margin-right: 30px;
    margin-left: 30px;
}


/* The container - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 0;
    text-decoration: none;
    display: block;
    font: 5px;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: gray;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}