/* to create buffer between navbar and body */
/* body {
    padding-top: 75px;
} */

body {
    /* background: #f5d9df; */
}

#mainNavbar .main-brand{
    color: rgba(255,255,255,.5);
}

/* highlighting when hoverd */
#mainNavbar .main-brand:hover{
    color: white;
    /* background: purple' */
}
#mainNavbar .nav-link:hover{
    color: white;
}

.content {
    padding-top: 75px;
}

/* .img1 {
    width: 400px;
    object-fit: cover;
} */
